nb-card {
    width: 65rem;
    height: 34rem;
    position: static;
}

.fa-percentage {
    font-size: 15px;
    font-weight: bold;
    color: var(--maq);
}
.input-group-text {
    font-weight: bold;
    color: var(--maq);
    background-color: aliceblue;
}

.fa-dollar-sign {
    font-size: 13px;
    color: var(--maq);
}

.text {
    line-height: 35px;
    font-weight: 400;
}

h6 {
    color: var(--maq);
}

.custo,
.venda {
    font-weight: 500;
}

#encargos {
    margin: -25px 0 30px 0;
    border: 1px solid rgb(233, 225, 225);
    padding: 30px 0;
    z-index: -1;
    border-radius: 2px;
}

p {
    margin-left: -10px;
    font-size: 14px;
    z-index: 1;
    background-color: var(--white);
    padding: 0 5px 0 10px;
}

.form-row {
    /* border: 1px solid red; */
    margin-top: -5px;
}

.fechar {
    position: absolute;
    top: 30px;
    right: 50px;
    color: var(--gray);
}

.fechar i {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.fechar:hover,
.fechar:checked {
    color: var(--red);
}

.feedback a {
    font-weight: 500;
    color: var(--maq);
}

input:read-only {
    background-color: var(--invalid);
}

.alert-error {
    color: var(--red);
    font-weight: 500;
}

.ng-invalid.ng-touched:not(form) {
    border: 1px solid var(--red);
}
