nb-card {
    min-width: 10rem;
    max-width: 60rem;
    margin: 0 auto 2rem;
    box-shadow: 0px 0px 1px var(--gray);
}

nb-card-header {
    padding: 2em;
}

nb-card nb-card-header button i.fa-plus {
    margin: 0 20px 0 0;
}

nb-card nb-card-header button {
    padding: 0 40px;
}

.actions {
    padding-left: 1.5em;
}
.fa-pen {
    color: var(--yellow);
    cursor: pointer;
    /* padding: 0 1em; */
}
.fa-copy {
    color: var(--maq);
    cursor: pointer;
}

.fa-trash-alt {
    color: var(--red);
    cursor: pointer;
    padding: 0 1rem;
}

tbody tr th {
    padding-left: 2em;
}
